/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 may. 2023, 18:49:31
    Author     : lossa
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  
}
body{
    text-align: center;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #011526;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.logo {
margin-left: 30px;

}

.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.header {
    height: 100vh !important;
    background-position: center;
    background-image:url(/imagenes/bettaFond.jpg);
    background-position: center;
    background-size: cover;
    
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
}

.navbar{
    display: flex;
    margin-right: 10px;

}
.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #012E40;
}
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sau{
    padding: 50px;
    background: #011526;

}
.box-contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-contenedor .box{
    height: 20rem;
    width: 17rem;
    background: #012E40;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(39, 38, 38, 0.5);
    margin: 1rem;
}

.box-contenedor .box img{
    height: 15rem;
    width: 15rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: white;
    background: none;
    font-size: 2rem;
    
 }
  .box-contenedor .box h3{
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
 }

 .box-contenedor .box p{
    font-size: 16px;
    padding:5px;
    text-align: center;
 }
